{% extends "user/base.html" %}

{% block page_content %}
<!-- <form enctype="multipart/form-data" style="margin-top: 50px">
	<input type="file" />
	<br>
	<button class="btn btn-info" type="submit">提交</button>
</form> -->
<div class="container" style="margin-top: 20px;">
	<div class="col-md-12">
		<div class="col-md-3 left-pannel">
			<div class="panel panel-default Options">
				<div class="panel-heading">
					<h3 class="panel-title">
						Personal Settings
					</h3>
				</div>
				<a href="{{url_for('settings.profile_setting')}}">
					<div class="panel-body">
					Profile
				</div>
				</a>
				<a href="{{url_for('settings.admin_setting')}}">
					<div class="panel-body">
					Account
				</div>
				</a>
				<a href="{{url_for('user.index', username=current_user.username)}}">
					<div class="panel-body">
					Back
				</div>
				</a>
			</div>
		</div>
		<div class="col-md-8 right-area">
			<div class="panel panel-default Options">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{title}}
					</h3>
				</div>
				<div class="panel-body">
					{{wtf.quick_form(form)}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}