{% extends "base.html" %}

{% block page_content %}
<div class="container area col-md-10 col-md-offset-1">
	<div class="row clearfix">
		<div class="col-md-8 column introduction">
			<h1>Sign In</h1>
			<h2>Sign In</h1>
			<h2>Sign In</h1>
			<h2>Sign In</h1>
		</div>
		<div class="col-md-3 column content" style="margin-top: 25px;
	margin-left: 4%;">
			{{ wtf.quick_form(form) }}
			<!-- <form class="form-horizontal sign_in_form" role="form">
				<div class="form-group required">
					<div class="col-sm-12">
						<input placeholder="Email" class="form-control" id="email" name='email' required type="email" value/>
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-12">
						<input required type="password" class="form-control" id="password" name="password" placeholder="Password" value/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="checkbox">
							 <label><input id="remember_me" name="remember_me" type="checkbox" value="y"/>Remember me</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						 {{ wtf.form_field(form.submit) }}
					</div>
				</div>
			</form> -->
		</div>
	</div>
	</div>
{% endblock %}