{% extends "base.html" %}

{% block title %}BLEXT - Sign in{% endblock %}


{% block inside_header %}
<!-- Inner -->
<div class="inner">
    <header>
        <h1 id="logo">Sign in</h1>
    </header>
</div>

{% endblock %}

{% block page_content %}
<!-- Main -->
<div class="wrapper style1">
    <div class="container">
        <article id="main" class="special">

            <section>
				{{ wtf.quick_form(form) }}
				<br />
				<p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click to reset.</a></p>
            </section>

        </article>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	$('body').addClass('no-sidebar');
</script>
{% endblock %}