{% extends "base.html" %}

{% block page_content %}
<div class="container area col-md-10 col-md-offset-1">
	<div class="row clearfix">
		<div class="col-md-8 column introduction">
			<h1>Sign In</h1>
			<h2>Sign In</h1>
			<h2>Sign In</h1>
			<h2>Sign In</h1>
		</div>
		<div class="col-md-3 column content" style="margin-top: 25px;
	margin-left: 4%;">
			{{ wtf.quick_form(form) }}
			<p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
		</div>
	</div>
</div>
{% endblock %}