{% macro pagination_widget(pagination, endpoint, host_user) %}


{% if pagination.has_prev %}
<li><span class="button">Prev</span></li>
{% endif %}

{% for p in pagination.iter_pages() %}
    {% if p %}
        {% if p == pagination.page %}
            <li><a href="{{ url_for(endpoint, page = p, username=host_user.username, **kwargs) }}" class="page active">{{ p }}</a></li>
        {% else %}
            <li><a href="{{ url_for(endpoint, page = p, username=host_user.username, **kwargs) }}" class="page">{{ p }}</a></li>
        {% endif %}
    {% else %}
        <span>&hellip;</span>
    {% endif %}
{% endfor %}


{% if pagination.has_next %}
<li><span class="button">Next</span></li>
{% endif %}

{% endmacro %}