{% extends "user/base.html" %}
{% import "user/_macros.html" as macros %}
{% block title %}{{ host_user.username }}'s blog{% endblock %}
{% block page_content %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <!-- Header -->
        <div class="post-tabs">
            <ul class="nav nav-tabs">
                <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all',username=host_user.username) }}">All</a></li>
                {% if current_user.is_authenticated %}
                <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed',username=host_user.username) }}">Followers</a></li>
                {% endif %}
            </ul>
        </div>
        {% if blogs %}
        	{% for blog in blogs %}
	        <header id="header">
	        	{% if current_user.is_authenticated and current_user.username == blog.author.username %}
	            <ul class="icons">
	                <li><a href="{{ url_for('editor.edit', blog_id=blog.id) }}" class="icon fa-pencil-square"><span class="label">Edit</span></a></li>
	                <li><a href="{{ url_for('user.delete_blog', blog_id=blog.id) }}" class="icon fa-trash"><span class="label">Delete</span></a></li>
	            </ul>
            	{% endif %}
	        </header>
	        <!-- Banner -->
	        <section id="banner">
	            <div class="content">
	                <header>
	                    <h2>{{ blog.title }}</h2>
	                    <p>
							In <a href="{{ url_for('user.category', username=host_user.username, category_name=blog.category.name) }}">{{ blog.category.name }}</a>
	                    </p>
	                </header>
	                <p>
						{{ blog.summary | safe }}
	                </p>
	                <ul class="actions">
	                    <li><a href="{{ url_for('user.blog_page', username=host_user.username, blog_id=blog.id) }}" class="button big">Read More</a></li>
	                </ul>
	            </div>
	        </section>
        	{% endfor %}
        	{% if blogs and pagination %}
        	<!-- Pagination -->
        	<ul class="pagination">
	        	{{ macros.pagination_widget(pagination, '.index', host_user) }}
	        </ul>
        	{% endif %}
        {% else %}
        <header id="header"></header>
        <section>
        	<header class="main">
        		<h1>There's nothing here.</h1>
        	</header>
        </section>
        {% endif %}
    </div>
</div>

{% endblock %}