{% extends "user/base.html" %}
{% import "user/_macros.html" as macros %}
{% block page_content %}
<div class="container" style="margin-top: 20px;">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<div class="row clearfix">
				<div class="col-md-12 column Pannel1">
					<div class="page-header Header">
						<h1>
							{{host_user.username}}'s BLOG
						</h1>
					</div>
					<div class="panel panel-default Options">
						{% if host_user == current_user %}
						<a href="{{ url_for('editor.index') }}">
							<div class="panel-heading">
							<h3 class="panel-title">
								Add a new Blog
							</h3>
						</div>
						</a>
						<a href="#">
							<div class="panel-body">
							My Profile
						</div>
						</a>
						<a href="#">
							<div class="panel-body">
							Personality
						</div>
						</a>
						{% endif %}
						<a href="{{ url_for('main.index') }}">
							<div class="panel-footer">
							Back to BLEXT
						</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column Pannel2">
					<div class="col-md-12">
						<div class="Avatar col-md-8 col-md-offset-2">
							<img width="100%" height="100%" src="../static/img/default_header.jpg" />
						</div>
					</div>
					<div class="Bio">
						<p>Add a Bio</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 column Article_list">
			{% for blog in blogs %}
			<div class="Articles">
				<div class="blog-header">
					<h2>{{ blog.title }}</h2>
					<p>Posted on {{ (blog.timestamp.date()) }}</p>
					<br>
				</div>
			<blockquote>
				<i style=" color: grey; font-size:10px">
					{{ blog.summary|safe }}
				</i>
			</blockquote>
	
			<p style="text-align: center;">
				<a href="{{ url_for('user.blog_page', username=host_user.username, blog_id=blog.id) }}"><button class="btn btn-default" style="border: 2px solid black">Read More >></button></a>
			</p>
			<br>
			</div>
			{% endfor %}
			{% if pagination %}
				<div class="pagination" style="float: right">
			    {{ macros.pagination_widget(pagination, '.index', host_user) }}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}