{% extends "user/base.html" %}
{% import "user/_macros.html" as macros %}
{% block title %}{{ current_user.username }}'s blog{% endblock %}
{% block page_content %}
<!-- Content -->
<div id="content">
    <div class="inner">
        <!-- Post -->
        {% if blogs %}
			{% for blog in blogs %}
			<article class="box post post-excerpt">
	            <header>
	                <h2><a href="{{ url_for('user.blog_page', username=host_user.username, blog_id=blog.id) }}">{{ blog.title }}</a></h2>
	                <p>
						In <a href="{{ url_for('user.category', username=host_user.username, category_name=blog.category.name) }}">{{ blog.category.name }}</a>
	                </p>
	            </header>
	            <div class="info">
	                <span class="date">
	                	<span class="month">{{blog.timestamp.ctime().split(' ')[1]}}</span> 
	                	<span class="day">{{blog.timestamp.ctime().replace('  ', ' ').split(' ')[2]}}</span>
	                </span>
	            </div>
	            <p>
	                {{ blog.summary | safe }}
	            </p>
	            <a href="{{ url_for('user.blog_page', username=host_user.username, blog_id=blog.id) }}">
	            	<button>Read more >></button>
	            </a>
	        </article>
	        {% endfor %}
	        {% if blogs and pagination %}
	        <!-- Pagination -->
	        <div class="pagination">
	        	{{ macros.pagination_widget(pagination, '.index', host_user) }}
	        </div>

	        {% endif %}
	    {% else %}
	    <p>There's nothing here.</p>
	    {% endif %}
    </div>
</div>
{% endblock %}