body {
	background: #F2F2F2;
	padding-top: 70px;
}

.textArea {
	height: 1000px;
	width: 100%;
	resize:none;
	padding-left: 10px;
	padding-right: 10px;
}

/*.preview {
	height: 1000px;
	width: 49%;
	margin-left: 1%;
	background: white;
	overflow: scroll;
}*/