body {
	background: #F2F2F2;
}

.Pannel1 {
	background: white;
	margin-bottom: 10px;
}

.Pannel2 {
	background: white;
	margin-top: 5px;
}

.Articles {
	background: white;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.Article_list {
	margin-left: 10px;
}

.Header {
	text-align: center;
}

.Avatar {
	margin-top: 20px;
	padding: 2px;
	border: 1px solid #F2F2F2;
	margin-bottom: 20px;
}

.Bio {
	text-align: center;
}

.blog-header {
	text-align: center;
}

.blog-content {
	background: white;
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}