{% extends "bootstrap/base.html" %}

{% block title %}BLEXT - Editor{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
<script src="https://use.fontawesome.com/ab291d07ba.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ns-style-bar.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/ns-default.css') }}" />
<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
{% endblock %}


{% block content %}
	{% block page_content %}{% endblock %}
{% endblock %} 

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<script src="{{ url_for('static', filename='js/notificationFx.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
<script>
	$('.fa-home').attr('href', '{{ home_url }}');
</script>
{% for message in get_flashed_messages() %}
<script>
  // create the notification
  var notification = new NotificationFx({
    message : '<i class="fa fa-cog fa-2x"></i><p>{{message}}</p>',
    layout : 'bar',
    effect : 'slidetop',
    ttl : 6000,
    type : 'notice', // notice, warning or error
  });
  // show the notification
  notification.show();
</script>
{% endfor %}
{% endblock %}
