{% extends "user/base.html" %}

{% block page_content %}
<!-- <form enctype="multipart/form-data" style="margin-top: 50px">
	<input type="file" />
	<br>
	<button class="btn btn-info" type="submit">提交</button>
</form> -->
<form class="form-horizontal" action="" method=post enctype=multipart/form-data>
<div class="formgroup">
	<p><input class="form-control" type=file name=file></p>
</div>
<div class="formgroup">
	<p><input class="btn btn-danger form-control" type=submit value=Upload></p>
</div>
	
	
</form>
<br>	
<a href="{{ url_for('user.index', username=current_user.username) }}">
	<button class="btn btn-info">返回</button>
</a>
{% endblock %}